# Windows
Thumbs.db
Desktop.ini
ehthumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store

# Editors / IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Dependencies (na wszelki wypadek)
node_modules/

# Env / sekrety
.env
.env.local
.env.*.local
